body {
    margin: 0;
}

.container {
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 75px;
    margin-bottom: 70px;
    width: 300px;
}

.attribution {
    margin-top: 20px;
    padding: 5px;
}