@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=League+Spartan:wght@500;600;700&family=Roboto:wght@100&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* need to set for only large screen */
.tns-item {
  height: 531px;
  width: 839px;
  object-fit: cover;
  object-position: bottom;
}
