/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");
body {
  font-size: 12px;
  font-family: "Spartan";
  font-weight: 500;
}

h1 {
  font-family: "Spartan";
  font-size: 30px;
}

h4 {
  font-family: "Spartan";
  font-weight: 600;
}

p {
  color: #a1a1a1;
  line-height: 20px;
}

body {
  margin: 0;
}

.container {
  flex: 1;
}

.attribution {
  margin-top: 20px;
  padding: 5px;
  max-width: 1440px;
}

.navbar {
  z-index: 1;
  display: flex;
  position: absolute;
  width: 375px;
}
.navbar__hamburger {
  z-index: 1;
  margin-top: 40px;
  margin-left: 24px;
  cursor: pointer;
}
.navbar__title {
  display: flex;
  align-items: end;
  justify-content: center;
  font-size: 20px;
  font-family: "Spartan";
  font-weight: 600;
  width: 80%;
  color: white;
  height: 58px;
}
.navbar__links {
  display: flex;
  position: absolute;
  padding: 0;
  padding-left: 80px;
  min-width: 295px;
  height: 100px;
  margin: 0;
  background: white;
  transform: translateY(-100%);
  transition: transform 0.2s;
}
.navbar__links__item {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-family: "Spartan";
  font-weight: 700;
  text-transform: lowercase;
  width: 50px;
  padding-right: 20px;
}

#hamClose {
  display: none;
}

.open {
  width: 20px;
}
.open #hamClose {
  display: block;
}
.open #hamBtn {
  display: none;
}

.showMenu {
  transform: translateY(0);
}

@media only screen and (min-width: 376px) {
  .navbar {
    width: 100%;
  }
  .navbar__hamburger {
    display: none;
  }
  .navbar__title {
    justify-content: start;
    align-items: center;
    padding-left: 40px;
    padding-top: 20px;
    width: 100%;
  }
  .navbar__links {
    padding-left: 150px;
    display: flex;
    transform: translateY(0);
    background: transparent;
    color: white;
  }
}
.main__container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.hero {
  position: relative;
  min-width: 0;
  min-height: 0;
  flex: 1.5;
}
.hero__controls {
  display: flex;
  position: absolute;
  height: 56px;
  bottom: 1%;
  right: 0;
  justify-content: flex-end;
}
.hero__controls__arrow__prev {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  width: 56px;
  height: 56px;
}
.hero__controls__arrow__prev:hover {
  background: #454545;
  cursor: pointer;
}
.hero__controls__arrow__next {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  width: 58px;
  height: 56px;
}
.hero__controls__arrow__next:hover {
  background: #454545;
  cursor: pointer;
}

.desktop {
  display: none !important;
}

.slide {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 67vh;
}

@media only screen and (min-width: 376px) {
  .mobile {
    display: none !important;
  }

  .desktop {
    display: block !important;
    width: 100% !important;
    height: auto;
  }
}
@media only screen and (min-width: 840px) {
  .main__container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .hero__controls {
    bottom: 0%;
    right: -112px;
  }
}
.main {
  max-width: 840px;
  display: flex;
  flex: 1;
  justify-content: center;
}
.main__cta {
  display: flex;
  width: 100%;
  text-transform: uppercase;
  cursor: pointer;
}
.main__cta__text {
  width: 50%;
  letter-spacing: 6px;
}
.main__cta__button {
  align-self: center;
  width: 50%;
  height: 12px;
}
.main__cta:hover {
  color: #454545;
  opacity: 40%;
}
.main p {
  margin-bottom: 40px;
}

.about {
  display: flex;
  flex-direction: column;
  height: 33vh;
}
.about__darkImg {
  flex: 1;
  background: url("/image-about-dark.5aa993bf.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about__lightImg {
  flex: 1;
  background: url("/image-about-light.db993602.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about > img {
  width: 100%;
}

.title {
  font-size: 12px;
  font-family: "Spartan";
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;
}

@media only screen and (min-width: 840px) {
  .about {
    width: 100%;
    flex-direction: row;
  }
  .about > img {
    max-width: 100%;
    width: auto;
  }
}

/*# sourceMappingURL=/main.39afc03c.css.map */