
.slider {
    position: relative;
    min-width: 100%;
    &__img {
        min-height: 360px;
    }
    &__controls {
        display: flex;
        position: absolute;
        height: 56px;
        bottom: 1%;
        width: 375px;
        justify-content: flex-end;

        &__button {
            display: flex;
            justify-content: center;
            align-items: center;
            background: black;
            width: 56px;
            height: 56px;
        }
    }
}