@use '../abstracts' as a;

.main__container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.hero {
    position: relative;
    // height: 360px;
    // width: 375px;
    max-width: 840px;
    max-height: 534px;

    &__controls {
        display: flex;
        position: absolute;
        height: 56px;
        bottom: 1%;
        right: 0;
        justify-content: flex-end;

        &__arrow__prev {
            display: flex;
            justify-content: center;
            align-items: center;
            background: black;
            width: 56px;
            height: 56px;

            &:hover {
                background: a.$dark-gray;
                cursor: pointer;
            }
        }
    
        &__arrow__next {
            display: flex;
            justify-content: center;
            align-items: center;
            background: black;
            width: 56px;
            height: 56px;

            &:hover {
                background: a.$dark-gray;
                cursor: pointer;
            }
        }

    }
}

.desktop {
    display: none !important;
}

@media only screen and (min-width: 376px) {

    .mobile {
        display: none !important;
    }

    .desktop {
        display: block !important;
        max-width: 100%;
        height: auto;
    }
    
    // .hero {
    //     max-width: 840px;
    //     height: auto;
    // }

}

@media only screen and (min-width: 840px) {

    .main__container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .hero {
        &__controls {
            bottom: 0%;
            right: -112px;
        }

    }
}